/* General Styles */
body {
    font-family: 'Poppins', Arial, sans-serif;
    background-image: url("https://lucdn.letsupgrade.net/assets/users_count_bg_73c24b4781.gif"); /* Add your background image path */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the image */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
